//- từ file index.pug ở folder products, ta ../ để đi ra ngoài folder products, ../ thêm lần nữa để đi ra ngoài folder pages rồi bắt đầu vào folder layouts
extends ../../layouts/default.pug
block main 
 h1 Trang danh sách sản phẩm